.portafolioa{
    background: #f2f2f2;
}

.galeria-portc{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-portd{
    width: 100px;
    margin-bottom: 100px;
    height: 100px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-portd> img{
    width: 100px;
    height: 100px; 
    display: block;
    
}

